body {
    margin: 0;
    overflow: hidden;
    background: transparent;
  }
  
  #dock {
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    border-radius: 10px;
    padding: 10px;
    cursor: grab;
  }
  
  #dock:active {
    cursor: grabbing;
  }
  
  .icon {
    margin: 5px;
    transition: transform 0.2s ease-in-out;
  }
  