body {
    margin: 0;
    overflow: hidden;
    background: transparent;
}

#dock {
    display: flex;
    gap: 10px;
    padding: 10px;
    background: rgba(148, 72, 72, 0.5);
    border-radius: 10px;
}

.icon {
    width: 50px;
    height: 50px;
    transition: transform 0.2s;
}

.icon:hover {
    transform: scale(1.2);
}